div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
   
}
body
{
   background-color: #bfdbe6;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}

.appbtn
{
   background-color: transparent;
   border: none;
   font-size: 16px;
   color: rgb(40, 61, 248);

}
.appbtn:hover
{
   background-color: rgb(142, 200, 255);
   text-decoration-color: #fff;
   cursor: pointer;
   
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading1
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: italic;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 10px 10px 10px 0;
   margin: 0;
   text-align: left;
}
#wb_Text2
{
   color: #000000;
   font-family: "Times New Roman";
   font-weight: 400;
   font-size: 19px;
   line-height: 21px;
}
#wb_Text2 p, #wb_Text2 ul
{
   margin: 0;
   padding: 0;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading2
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading3
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 10px 10px 0 0;
   margin: 0;
   text-align: left;
}
#wb_Text3
{
   color: #000000;
   font-family: "Times New Roman";
   font-weight: 400;
   font-size: 19px;
   line-height: 21px;
}
#wb_Text3 p, #wb_Text3 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 10px 10px 0 0;
   margin: 0;
   text-align: left;
}
#wb_Text4
{
   color: #000000;
   font-family: "Times New Roman";
   font-weight: 400;
   font-size: 19px;
   line-height: 21px;
}
#wb_Text4 p, #wb_Text4 ul
{
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading4
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb_Image1
{
   position: absolute;
   left: 30px;
   top: 91px;
   width: 911px;
   height: 523px;
   z-index: 7;
}
#wb_Text4
{
   position: absolute;
   left: 87px;
   top: 922px;
   width: 786px;
   height: 351px;
   z-index: 6;
}
#wb_Heading4
{
   position: absolute;
   left: 331px;
   top: 45px;
   width: 385px;
   height: 46px;
   z-index: 8;
}
#wb_Text1
{
   position: absolute;
   left: 91px;
   top: 1003px;
   width: 864px;
   height: 15px;
   z-index: 0;
}
#wb_Text2
{
   position: absolute;
   left: 90px;
   top: 716px;
   width: 780px;
   height: 103px;
   z-index: 2;
}
#wb_Text3
{
   position: absolute;
   left: 90px;
   top: 1359px;
   width: 790px;
   height: 145px;
   z-index: 5;
}
#wb_Heading2
{
   position: absolute;
   left: 95px;
   top: 878px;
   width: 438px;
   height: 44px;
   z-index: 3;
}
#wb_Heading3
{
   position: absolute;
   left: 87px;
   top: 1322px;
   width: 374px;
   height: 50px;
   z-index: 4;
}
#wb_Heading1
{
   position: absolute;
   left: 91px;
   top: 674px;
   width: 306px;
   height: 42px;
   z-index: 1;
}
@media only screen and (max-width: 1024px)
{
div#container
{
   width: 1024px;
}
body
{
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   left: 96px;
   top: 914px;
   width: 864px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Heading1
{
   left: 96px;
   top: 656px;
   width: 586px;
   height: 42px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   font-size: 32px;
   font-family: Arial;
   font-weight: bold;
   font-style: italic;
   text-decoration: none;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: left;
}
#Heading1
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: italic;
   font-size: 32px;
   text-align: left;
}
#wb_Text2
{
   left: 108px;
   top: 708px;
   width: 788px;
   height: 105px;
   visibility: visible;
   display: inline;
}
#wb_Text2
{
   font-family: Arial;
   font-weight: 400;
   font-size: 19px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 21px;
}
#wb_Heading2
{
   left: 100px;
   top: 864px;
   width: 494px;
   height: 50px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   font-size: 32px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: left;
}
#Heading2
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   text-align: left;
}
#wb_Heading3
{
   left: 96px;
   top: 1319px;
   width: 526px;
   height: 50px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   font-size: 32px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: left;
}
#Heading3
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   text-align: left;
}
#wb_Text3
{
   left: 100px;
   top: 1369px;
   width: 840px;
   height: 147px;
   visibility: visible;
   display: inline;
}
#wb_Text3
{
   font-family: Arial;
   font-weight: 400;
   font-size: 19px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 21px;
}
#wb_Text4
{
   left: 108px;
   top: 914px;
   width: 800px;
   height: 357px;
   visibility: visible;
   display: inline;
}
#wb_Text4
{
   font-family: Arial;
   font-weight: 400;
   font-size: 19px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 21px;
}
#wb_Image1
{
   left: 65px;
   top: 85px;
   width: 911px;
   height: 523px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Heading4
{
   left: 305px;
   top: 33px;
   width: 446px;
   height: 100px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   font-size: 32px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: left;
}
#Heading4
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   text-align: left;
}
}
@media only screen and (max-width: 640px)
{
div#container
{
   width: 640px;
}
body
{
   background-color: #99D7EF;
   background-image: none;
}
#wb_Text1
{
   left: 91px;
   top: 506px;
   width: 864px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Heading1
{
   left: 94px;
   top: 347px;
   width: 318px;
   height: 42px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   font-size: 32px;
   font-family: Arial;
   font-weight: bold;
   font-style: italic;
   text-decoration: none;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: left;
}
#Heading1
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: italic;
   font-size: 32px;
   text-align: left;
}
#wb_Text2
{
   left: 90px;
   top: 393px;
   width: 478px;
   height: 96px;
   visibility: visible;
   display: inline;
}
#wb_Text2
{
   font-family: Arial;
   font-weight: 400;
   font-size: 13px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 16px;
}
#wb_Heading2
{
   left: 90px;
   top: 521px;
   width: 440px;
   height: 34px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   font-size: 32px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: left;
}
#Heading2
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   text-align: left;
}
#wb_Heading3
{
   left: 91px;
   top: 874px;
   width: 526px;
   height: 50px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   font-size: 32px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: left;
}
#Heading3
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   text-align: left;
}
#wb_Text3
{
   left: 90px;
   top: 911px;
   width: 478px;
   height: 128px;
   visibility: visible;
   display: inline;
}
#wb_Text3
{
   font-family: Arial;
   font-weight: 400;
   font-size: 13px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 16px;
}
#wb_Text4
{
   left: 91px;
   top: 572px;
   width: 478px;
   height: 272px;
   visibility: visible;
   display: inline;
}
#wb_Text4
{
   font-family: Arial;
   font-weight: 400;
   font-size: 13px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 16px;
}
#wb_Image1
{
   left: 106px;
   top: 67px;
   width: 448px;
   height: 257px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Heading4
{
   left: 184px;
   top: 21px;
   width: 292px;
   height: 32px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   font-size: 24px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: left;
}
#Heading4
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
   text-align: left;
}
}
@media only screen and (max-width: 320px)
{
div#container
{
   width: 320px;
   
}
body
{
   background-color: #99D7EF;
   background-image: none;
}
#wb_Text1
{
   left: 92px;
   top: 912px;
   width: 864px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Heading1
{
   left: 32px;
   top: 253px;
   width: 266px;
   height: 32px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   font-size: 24px;
   font-family: Arial;
   font-weight: bold;
   font-style: italic;
   text-decoration: none;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: left;
}
#Heading1
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: italic;
   font-size: 24px;
   text-align: left;
}
#wb_Text2
{
   left: 32px;
   top: 299px;
   width: 266px;
   height: 176px;
   visibility: visible;
   display: inline;
}
#wb_Text2
{
   font-family: Arial;
   font-weight: 400;
   font-size: 13px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 16px;
}
#wb_Heading2
{
   left: 32px;
   top: 523px;
   width: 241px;
   height: 70px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   font-size: 24px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: left;
}
#Heading2
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
   text-align: left;
}
#wb_Heading3
{
   left: 32px;
   top: 1080px;
   width: 241px;
   height: 50px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   font-size: 21px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: left;
}
#Heading3
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   text-align: left;
}
#wb_Text3
{
   left: 32px;
   top: 1112px;
   width: 266px;
   height: 240px;
   visibility: visible;
   display: inline;
}
#wb_Text3
{
   font-family: Arial;
   font-weight: 400;
   font-size: 13px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 16px;
}
#wb_Text4
{
   left: 32px;
   top: 593px;
   width: 266px;
   height: 448px;
   visibility: visible;
   display: inline;
}
#wb_Text4
{
   font-family: Arial;
   font-weight: 400;
   font-size: 13px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 16px;
}
#wb_Image1
{
   left: 32px;
   top: 54px;
   width: 264px;
   height: 152px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Heading4
{
   left: 45px;
   top: 23px;
   width: 231px;
   height: 31px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   font-size: 19px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: left;
}
#Heading4
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   text-align: left;
}
}
